@import "tailwindcss";

@theme {
  --color-brand-green: #005d4b;
  --color-brand-orange: #ff8570;
  --color-brand-yellow: #fdbf2d;
  --color-brand-light: #f8fafc;
  --color-brand-dark: #0f172a;

  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", ui-sans-serif, system-ui, sans-serif;

  --radius-bento: 2rem;
}

@layer base {
  body {
    @apply text-brand-dark bg-brand-light antialiased;
  }
}
